# Google Sheets
GOOGLE_SHEETS_ID=id_spreadsheet_dari_url_google_sheets
GOOGLE_SHEETS_RANGE=Sheet1!A:Z
GOOGLE_SERVICE_ACCOUNT_EMAIL=nama@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# Admin Auth
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti_password_kuat_di_sini
SESSION_SECRET=random_string_panjang_minimal_32_karakter_isi_disini

# App
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
